<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLLLCJywiWxRn6vWSQ5-6hv2ssmDLUovA</string>
	<key>GCM_SENDER_ID</key>
	<string>137260167369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.react-native-boilerPlate</string>
	<key>PROJECT_ID</key>
	<string>boiler-project-75251</string>
	<key>STORAGE_BUCKET</key>
	<string>boiler-project-75251.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137260167369:ios:c004087dad7bec8d38dd18</string>
</dict>
</plist>